@charset "UTF-8";

* {
   margin: 0;
   padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Passion+One:wght@400;700;900&family=Vibur&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');


:root {
    --font1: verdana , geneva , Tahoma , sans-serif ;
    --font2:  "Sriracha", cursive;
    --font3:  "Passion One", sans-serif;
 }

body {
    height: 100vh ;
}

section > pre {
    white-space: pre-line;
    font-family: var(--font2);
    
}

   


html , body {
  min-height:100vh;
  background-color: darkgrey;
  font-family: var(--font1);

}

header {
    background-color: black;
    color: white;
    text-align: center;
}
header h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--font3);
    font-size: 8vw;
}

header p {
    padding-bottom: 50px;
}

a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
    transition-duration: 0.5s;
}

a:hover {
    color: rgb(221, 199, 75);
    text-decoration: underline;
}

.imagem {
    background: grey;
}

section {
    padding-bottom: 10vh;
    padding-top: 10vh;
    padding-left: 30px;
    
    font-size: 3vw;
    text-align: left;

    
    
}

section p {
    min-width: 60vw;
    

}





section.normal {
    background: white;
}

section.imagem  {
    color: white;
    background-color: rgba(0, 0, 0, 0.49);
    box-shadow: inset 6px 6px 10px 0px rgba(0, 0, 0, 0.508);
    background-size: cover;
    background-attachment: fixed;

}

section.imagem  p {
    background-color: rgba(0, 0, 0, 0.447);
    width: 400px;
    text-shadow: 2px 2px 0px black;
    padding: 10px;
    
}

section#img01 {
    background-image: url(imagens/background001.jpg);
    
    background-position: center center;
    


}

section#img02 { 
    background-image: url(imagens/background002.jpg);

}